# This is Git's per-user configuration file.
[includeIf "gitdir:~/Documents/self/**/*"]
  path = ~/.gitconfig-self
[includeIf "gitdir:~/Documents/temp/**/*"]
  path = ~/.gitconfig-self

# Common
[pull]
	ff = only
[push]
	ff = only
[init]
	defaultBranch = main
[core]
	pager = less -+FX
	autocrlf = false
[pager]
	status = true
